.app-input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 24px;

  .app-input:not(:first-child) {
    margin-top: 12px;
  }
}

.app-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    font-family: "Ubuntu Mono", monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    opacity: 0.4;
    margin-bottom: 4px;
  }

  input {
    width: 100%;
    border: 0;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-family: "Ubuntu Mono", monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    &:focus {
      outline: none;
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}


// im not sure we need this, but i think it's ok
.wide-input {
  width: 30%;
  min-width: 350px;
  max-width: 500px;
}

.medium-input {
  min-width: 250px;
  max-width: 400px;
  width: 22%;
}

.small-input {
  min-width: 150px;
  max-width: 250px;
  width: 14%;
}

.tiny-input {
  min-width: 100px;
  max-width: 150px;
  width: 9%;
}
